body {
  background-color: #f9f7fe;
  font-family: "Roboto", serif;
}

.container {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding: 30px;
}
